.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.search {
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  flex: 2;
  min-width: 320px;
}

.star-select {
  box-sizing: border-box;
  height: 32px;
  flex: 1;
}
